body {
    padding: 0%;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

#game-intro{
  background: rgb(227,236,255);
  background: linear-gradient(90deg, rgba(227,236,255,1) 0%, rgba(255,221,252,1) 50%, rgba(255,243,226,1) 100%);
  border: none;
  padding: 0%;
  border: 0cap;
}

#game-intro h1 {
  font-size: 80px
}

#game-intro div {
  font-size: 25px
}

#start-button:hover {
  background-color:#ff5ebe;
  transition: 0.7s;
  
}

#start-button {
  margin-top: 20px;
  width: 200px;
  height: 50px; 
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 30px
}



  #game-container {
    display: flex;
    width: 100vw;
    padding: 20px 0px;
    justify-content: center;
    background: rgb(227,236,255);
    background: linear-gradient(90deg, rgba(227,236,255,1) 0%, rgba(255,221,252,1) 50%, rgba(255,243,226,1) 100%);
    border: none;
  }
  
  #game-screen {
    display: none;
    align-content: center;
    padding: 20px 0px;
    overflow: hidden;
    position: relative;
    background-image: url(../Images/GameBackground.png);
    background-size: cover;
  }
  
  @keyframes slide {
    0% {
      background-position: 0 -1000px;
    }
    95% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 50px;
    }
  }


#game-container h2 {
  font-size: 80px
}

#game-container div {
  font-size: 50px
}

#game-end {
  display: none;
  font-size: 70px
}

#game-end h1 {
  margin-bottom: 15px;
}

#restart-button:hover {
  background-color:#ff5ebe;
  transition: 0.7s;
  
}

#restart-button {
  margin-top: 20px;
  width: 200px;
  height: 50px; 
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 30px
}